<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<table class="main" width="580" cellspacing="0" cellpadding="0" border="0">&ndash;&gt;-->
<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;  <td class="blackbar">&ndash;&gt;-->
<!--&lt;!&ndash;    <table width="100%" border="0" cellspacing="0" cellpadding="0">&ndash;&gt;-->
<!--&lt;!&ndash;      <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <td align="left" valign="middle" class="left">&ndash;&gt;-->
<!--&lt;!&ndash;          <p>You are receiving this email ... </p>&ndash;&gt;-->
<!--&lt;!&ndash;        </td>&ndash;&gt;-->
<!--&lt;!&ndash;      </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </table>&ndash;&gt;-->
<!--&lt;!&ndash;  </td>&ndash;&gt;-->
<!--&lt;!&ndash;</tr>&ndash;&gt;-->
<!--&lt;!&ndash;<tr>&ndash;&gt;-->
<!--&lt;!&ndash;  <td height="115" align="left" valign="top">&ndash;&gt;-->
<!--&lt;!&ndash;    <table width="580" border="0" cellspacing="0"&ndash;&gt;-->
<!--&lt;!&ndash;        cellpadding="0">&ndash;&gt;-->
<!--&lt;!&ndash;      <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <td width="290" align="left" valign="top" class="logo">&ndash;&gt;-->
<!--&lt;!&ndash;          <h1>Modern</h1>&ndash;&gt;-->
<!--&lt;!&ndash;          <h1><strong>Henchman</strong></h1>&ndash;&gt;-->
<!--&lt;!&ndash;        </td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td width="290" align="right" valign="top" class="issue">&ndash;&gt;-->
<!--&lt;!&ndash;          <p><strong>In this issue:</strong></p>&ndash;&gt;-->
<!--&lt;!&ndash;          <p>Contents listing</p>&ndash;&gt;-->
<!--&lt;!&ndash;        </td>&ndash;&gt;-->
<!--&lt;!&ndash;      </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </table>&ndash;&gt;-->
<!--&lt;!&ndash;  </td>&ndash;&gt;-->
<!--&lt;!&ndash;</tr>&ndash;&gt;-->
<!--&lt;!&ndash;<tr>&ndash;&gt;-->
<!--&lt;!&ndash;  <td class="blackbar">&ndash;&gt;-->
<!--&lt;!&ndash;    <table width="100%" border="0" cellspacing="0"&ndash;&gt;-->
<!--&lt;!&ndash;        cellpadding="0">&ndash;&gt;-->
<!--&lt;!&ndash;      <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <td align="left" valign="middle" class="left">&ndash;&gt;-->
<!--&lt;!&ndash;          <p>Month Name Newsletter</p>&ndash;&gt;-->
<!--&lt;!&ndash;        </td>&ndash;&gt;-->
<!--&lt;!&ndash;        <td class="right" align="right" valign="middle">&ndash;&gt;-->
<!--&lt;!&ndash;          <p>Send to a henchmate | Unsubscribe | ... </p>&ndash;&gt;-->
<!--&lt;!&ndash;        </td>&ndash;&gt;-->
<!--&lt;!&ndash;      </tr>&ndash;&gt;-->
<!--&lt;!&ndash;    </table>&ndash;&gt;-->
<!--    <table class="main" width="580" cellspacing="0" cellpadding="0" border="0">-->
<!--        <thead>-->
<!--            <tr style="text-align: center;"><td><h1>"Notes"</h1></td></tr>-->
<!--            <tr style="text-align: center;"><td><h3>Hello, {{ username }}! Please, confirm your email</h3></td></tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            <tr>-->

<!--            </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<style>
			@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
		</style>
	</head>
	<body style="background: #f5f8fa;font-family: 'Roboto', sans-serif;">
		<div style="width: 90%;max-width:600px;margin: 20px auto;background: #ffffff;">
			<section style="margin: 0 15px;color:#425b76;">
				<h2 style="margin: 40px 0 27px 0;text-align: center;">Thank you to registration</h2>
				<hr style="border:0;border-top: 1px solid rgba(66,91,118,0.3);max-width: 50%">
				<p style="font-size:15.5px;font-weight: bold;margin:40px 20px 15px 20px;">Hi {{username}}, we have received your details and will process soon.</p>
			</section>
		</div>
	</body>
</html>