{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Main' %}{% endblock title %}

{% block content %}
    <div class="index-box-shadow"></div>
    <div class="index-box-top">
        <div id="index-box-title">{% trans 'Notes' %}!</div>
    </div>
    <div class="index-box-bottom">
        <div>
            <button onclick="location.assign('/signin')">{% trans 'Sign in' %}</button>
            <button onclick="location.assign('/signup')">{% trans 'Sign up' %}</button>
        </div>
    </div>
    
{% endblock %}