{% extends 'base.html' %}
{% block title %}{% trans "Registration" %}{% endblock title %}

{% block content %}
    <div>{% trans "Username" %}</div>
    <div>
        <div>
            <input type="text" placeholder="{% trans 'Login' %}"/>
        </div>
        <div>
            <input type="password" placeholder="{% trans 'Password' %}"/>
        </div>
        <div>
            <input type="password" placeholder="{% trans 'Confirm password' %}"/>
        </div>
        <input type="submit" value="{% trans 'Registration' %}"/>
    </div>
{% endblock %}